<h1> ?---LOGIN----?</h1>
<form action="/login" method="POST">
	<input type="username" name="username" placeholder="username">
	<input type="password" name="password" placeholder="password">
	<button>
		login!!!
	</button>
</form>
<li><a href="/register">Sign up!!!</a></li>
<li><a href="/login">login</a></li>
<li><a href="/logout">logout</a></li>