<h1>
	welcome to the login page
</h1>
<form action="/register" method="POST">
	<input type="text" name="username" placeholder="username">
	<input type="password" name="password" placeholder="password">
	<button>
		submit!!
	</button>
</form>
<li><a href="/register">Sign up!!!</a></li>
<li><a href="/login">login</a></li>
<li><a href="/logout">logout</a></li>